<div class="help-center-section" data-parallax="scroll" data-image-src="{{ asset 'help-center-bg.png' }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="help-center">
          <form data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
            <h1 class="title">Help Center</h1>
            <div class="search">
              <input name="utf8" type="hidden" value="✓">
              <input type="search" name="query" id="query" class="form-control" placeholder="Search Knowledge Base" />
              <button class="search-btn">Search</button>
            </div>
            <div class="notification">
              <a href=""><img class="icon" src="{{ asset 'notification.svg' }}" /> What’s New -
                Release Notes</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="products-list">
        <div class="row  justify-content-center">
          <!-- Product -->
          <div class="col-md-3">
            <a href="{{ link 'community' }}" class="product">
              <div class="icon">
                <img src="{{ asset 'users.svg' }}" />
              </div>
              <h5 class="title font-weight-bold text-dark">Hiring & Onboarding</h5>
              <div>
                <p>Velitelit deserunt dolore senime deserount oure queors dolore veniam.</p>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a href="{{ link 'community' }}" class="product">
              <div class="icon">
                <img src="{{ asset 'wotc.svg' }}" />
              </div>
              <h5 class="title font-weight-bold text-dark">WOTC</h5>
              <div>
                <p>Velitelit deserunt dolore senime deserount oure queors dolore veniam.</p>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a href="{{ link 'community' }}" class="product">
              <div class="icon">
                <img src="{{ asset 'benefits.svg' }}" />
              </div>
              <h5 class="title font-weight-bold text-dark">Benefits Administration</h5>
              <div>
                <p>Velitelit deserunt dolore senime deserount oure queors dolore veniam.</p>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a href="{{ link 'community' }}" class="product">
              <div class="icon">
                <img src="{{ asset 'time.svg' }}" />
              </div>
              <h5 class="title font-weight-bold text-dark">Time & Attendance</h5>
              <div>
                <p>Velitelit deserunt dolore senime deserount oure queors dolore veniam.</p>
              </div>
            </a>
          </div>



        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="page-section">
        <h1 class="title text-center font-weight-bold text-dark">Promoted Articles</h1>
        <ul class="centered-list">
          <li><a href="">Consectetur adipiscing elitut aliquam purus</a></li>
          <li><a href="">Enim nulla aliquet porttitor lacus luctus accumsan tortor amet consectetur
              adipiscing</a></li>
          <li><a href="">Scelerisque mauris pellentesque pellentesque habitant morbi tristique</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="page-section">
        <h1 class="title text-center font-weight-bold text-dark">Popular Videos</h1>
        <div class="row">
          <!-- Video -->
          <div class="col-md-4">
            <div class="video-content">
              <div class="thumbnail">
                <a class="play-btn" data-fancybox href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1"
                  data-width="640" data-height="360">
                  <img src="{{ asset 'play.svg' }}" />
                </a>
                <img src="{{ asset 'video-1.png' }}" />
              </div>
              <div class="details">
                <h5 class="title text-dark font-weight-bold">Pellentesque Tincidunt</h5>
                <div>
                  <p>Velitelit deserunt dolore quero senime deserount queors dolore veniam.
                    Roluptate velitesse cillum relihere dolore.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Video -->
          <div class="col-md-4">
            <div class="video-content">
              <div class="thumbnail">
                <a class="play-btn"><img src="{{ asset 'play.svg' }}" /></a>
                <img src="{{ asset 'video-2.png' }}" />
              </div>
              <div class="details">
                <h5 class="title text-dark font-weight-bold">Venenatis Scelerisque</h5>
                <div>
                  <p>Velitelit deserunt dolore quero senime deserount queors dolore veniam.
                    Roluptate velitesse cillum relihere dolore.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Video -->
          <div class="col-md-4">
            <div class="video-content">
              <div class="thumbnail">
                <a class="play-btn"><img src="{{ asset 'play.svg' }}" /></a>
                <img src="{{ asset 'video-3.png' }}" />
              </div>
              <div class="details">
                <h5 class="title text-dark font-weight-bold">Phasellus Egestas</h5>
                <div>
                  <p>Velitelit deserunt dolore quero senime deserount queors dolore veniam.
                    Roluptate velitesse cillum relihere dolore.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>